<header>
  <nav class="navbar navbar-light bg-light">
    <div class="d-flex">
      <i class="fa-solid fa-film"></i>
      <p class="navbar-brand">My lists</p>
      <p class="navbar-brand"> <%= link_to "New list", new_list_path %> </p>
    </div>
  </nav>
</header>
